.header{
  background-color: #6fd08c;
  display: flex;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.par{
font-size: 30px;

}
